name: Test News Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install -r requirements.txt

      - run: python src/main.py

      - name: Upload image
        uses: actions/upload-artifact@v4
        with:
          name: latest-post
          path: output/latest.png
